doctype html
html(lang="en")
  head
    title="Tic Tac Toe"
    script(src="board.js")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
  body
    h1 Tic Tac Toe
    div(class="board-wrapper")
      table#board
        each row in rows
          tr
            each cell in row.cells
              td(class="js-tictactoe-cell", 
                 data-row=row.num, 
                 data-column=cell.num)
                
      div(class="progress-bar")
        div(class="progress-bar__progress")